<StackLayout class="login-page">
    <StackLayout>
        <Label class="first-title" text="Welcome to"></Label>
        <Image src="res://midasroyaleclub" stretch="aspectFill" class="title-image"></Image>
    </StackLayout>

    <StackLayout class="login-form">
        <textInputItem [textSettings]="{
            hint: 'Username',
            secure: false,
            returnKeyType: 'done',
            autoCorrect: false,
            textboxType: 'Username'
            }" (onBlur)="onTextboxBlur($event)"></textInputItem>
        <textInputItem [textSettings]="{
            hint: 'Password',
            secure: true,
            returnKeyType: 'done',
            autoCorrect: false,
            textboxType: 'Password'
            }" (onBlur)="onTextboxBlur($event)"></textInputItem>

    </StackLayout>
    <StackLayout class="login-button-holder">
        <buttonActionItem [buttonSettings]="{
                text: 'Sign In',
                classes: 'btn-login'
            }"></buttonActionItem>
    </StackLayout>
    <StackLayout>
        <Label text="Forgot password?" class="forgotPasswordLabel"></Label>
    </StackLayout>

    <StackLayout class="create-account-holder">
        <buttonActionItem [buttonSettings]="{
                text: 'Create Account',
                classes: 'btn-create-account'
            }"></buttonActionItem>
    </StackLayout>
</StackLayout>