<TabView id="tabView" 
         class="tabNames" 
         selectedTabTextColor="darkgoldenrod" 
         androidSelectedTabHighlightColor="darkgoldenrod"
         androidTabsPosition="bottom">
    <StackLayout *tabItem="{title: '&#xe913;'}">
        <Label text="First TabView item with Icon Font" textAlignment="left" textWrap="true" class="h5 m-x-auto" color="orange"></Label>
        <Label text="&#xe913;" textWrap="true" class="h2 m-x-auto" color="orange"></Label>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Second tab'}"></StackLayout>
    <StackLayout *tabItem="{title: 'Third tab'}"></StackLayout>
    <StackLayout *tabItem="{title: 'Fourth tab'}"></StackLayout>
    <StackLayout *tabItem="{title: 'Fifth tab'}"></StackLayout>
</TabView>

